*{
    margin: 0;
    padding: 0;
}

div#container{
    min-height: 500px;
    background-color: aquamarine;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
    text-align: center;
}

li a{
    background-color: blue;
}

li a:hover{
    background-color: navy;
    color: white;
}
